<form action="">
    <div class="form__element">
      <input 
        class="element__input"
        type="text"
        placeholder="username"
      >
    </div>
    <div class="form__element">
      <input 
        class="element__input"
        type="email"
        placeholder="email"
      >
    </div>
    <div class="form__element">
      <input 
        class="element__input"
        type="password"
        placeholder="password"
      >
    </div>
    <div class="form__element">
      <input 
        class="element__input"
        type="password"
        placeholder="confirm password"
      >
    </div>
    <div class="form__element">
      <button
        class="element__button"
      >Join!
      </button>
    </div>
    <div class="form__element">
      <div class="element__text">
        or Login
      </div>
    </div>
  </form>