<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__element">
      <input 
        formControlName="name"
        class="element__input"
        type="text"
        placeholder="name"
      >
      <div 
        class="element__error"
        *ngIf="name.touched && name.invalid">
        Name is required
      </div>
    </div>
    <div class="form__element">
      <input 
        formControlName="username"
        class="element__input"
        type="text"
        placeholder="username"
      >
      <div 
        class="element__error"
        *ngIf="username.touched && username.invalid">
        Username is required
      </div>
    </div>
    <div class="form__element">
      <input 
        formControlName="email"
        class="element__input"
        type="email"
        placeholder="email"
      >
      <div 
        class="element__error"
        *ngIf="email.touched && email.invalid">
        Email is required
      </div>
    </div>
    <div class="form__element">
      <input 
        formControlName="password"
        class="element__input"
        type="password"
        placeholder="password"
      >
      <div 
        class="element__error"
        *ngIf="password.touched && password.invalid">
        Password is required
      </div>
    </div>
    
    <div class="form__element">
      <button
        class="element__button"
      >Join!
      </button>
    </div>
    <div class="form__element">
      <div class="element__text" routerLink="/login">
        or Login
      </div>
    </div>
  </form>