<div class="languages">
  <div class="card-container__card">
    <div class="card-container__card__typescript">
      Typescript
    </div>
  </div>
  <div class="card-container__card">
    <div class="card-container__card__java">
      Java
    </div>
  </div>
  <div class="card-container__card">
    <div class="card-container__card__javascript">
      Javascript
    </div>
  </div>
  <div class="card-container__card">
    <div class="card-container__card__python">
      Python
    </div>
  </div>
</div>