.card-container__card {
    height: 150px;
    width: 250px;
    background-color: white;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

.card-container__card__docker {
    background-color: #0db7ed;
    height: 100%;
    border-radius: 5px;
}

.card-container__card__git {
    background-color: #F1502F;
    height: 100%;
    border-radius: 5px;
}

.card-container__card__node {
    background-color: #6cc24a;
    height: 100%;
    border-radius: 5px;
}

.card-container__card__python {
    height: 100%;
    background-color: #ffde57;
    border-radius: 5px;
}

.card-container__card__go {
    height: 100%;
    background-color: #00ADD8;
    border-radius: 5px;
}

.card-container__card__typescript {
    background-color: #007acc;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__java {
    background-color: #f89820;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__javascript {
    background-color: #F0DB4F;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__github {
    background-color: #6e5494;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__angular {
    background-color: #b52e31;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__react {
    background-color: #00d8ff;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__vue{
    background-color: #41B883;
    border-radius: 5px;
    height: 100%;
}

.card-container__card__bitbucket {
    background-color: #1a74ed;
    border-radius: 5px;
    height: 100%;
}

.card-container__card:hover {
    cursor: pointer;
}