<div class="card" [routerLink]="['/profile']" [queryParams]="{ user: project?.authorId }">
  <div class="card__container">
    <div class="container__thumbnail">
      <img src="{{ project?.thumbnail }}" alt="">
    </div>
    <div class="container__text">
      <div class="text__title">
        {{ project?.name }}
      </div>
      <div class="text__author">
        {{ author?.name | titlecase}}
      </div>
      <div class="text__description">
        {{ project?.description }}
      </div>
    </div>
    <div class="container__profile-pic">
      <img class="profile-pic__image" src="" alt="">
    </div>
  </div>
</div>
