.card {
    height: 150px;
    width: 80%;
    min-width: 700px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.card__container {
    height: 100%;
    width: 100%;
}

.container__thumbnail {
    height: 100%;
    width: 20%;
    float: left;
    margin-right: 120px;
}

img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.container__text {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.text__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.text__author {
    font-size: 20px;
    margin-bottom: 10px;
}

.text__description {
    font-size: 15px;
}


