.login {
    background: url("../../../Frame.png") no-repeat center center fixed; 
    background-size: 100% 100%; 
    z-index: -1;
    padding: 30px;
    height: 900px;
}

.login__text-container {
    margin-top: 100px;
    float: right;
}

.text-container__text {
    color: white;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.login__form-container {
    padding: 30px;
    width: 300px;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 250px;
}

.form-container__input {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}

.form-container__button {
    background-color: #FC0AD5;
    border-radius: 25px;
    height: 43px;
    width: 144px;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    outline: none;
}

.form-container__button:hover {
    background-color: white;
    color: #FC0AD5;
}

.form-container__alt {
    margin-top: 30px;
}