<div class="login">
  <div class="login__text-container">
  </div>
  <div class="login__form-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
      <button class="form-container__button">
        Login
      </button>
      <div class="form-container__alt">
          Or Register
      </div>
  </div>
</div>
