.login {
    min-height: 1000px;
    background-image: -webkit-linear-gradient(0deg, white 50%, black 50%);
}

.login-container {
    padding-top: 100px;
    min-height: 1000px;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); 
}

.login__text-container {
    padding: 10px;
    border-radius: 5px;
    height: 80px;
    width: 500px;
    margin: auto;
    background-image: -webkit-linear-gradient(0deg, black 50%, white 50%);
}

.text-container__text {
    color: transparent;
    filter: invert(1) grayscale(1) contrast(10);
    background: inherit;
	-webkit-background-clip: text;
			background-clip: text;
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    text-align: center;
}

.login__form-container {
    background-color: white;
    border-radius: 5px;
    opacity: 0.9;
    padding: 30px;
    width: 300px;
    position: absolute;
    text-align: center;
    top: 300px;
    right: 200px;
}

.form-container__button {
    background-color: #FC0AD5;
    border-radius: 25px;
    height: 43px;
    width: 144px;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    outline: none;
}

.form-container__button:hover {
    background-color: white;
    color: #FC0AD5;
}

.form-container__alt {
    margin-top: 30px;
}

.login-container__card-container {
    display: flex;
    margin-left: 10px;
    height: 100%;
}