<div class="login">
  <div class="login__text-container">
      <div class="text-container__text">
        >_ Configure your own environment with any dependencies
      </div>
      <div class="text-container__text">
        >_ Share your environment with others
      </div>
      <div class="text-container__text">
        >_ Run web servers on your host machine from Zap-It
      </div>
  </div>
  <div class="login__form-container">
      <label for="inp" class="form-container__input">
          <input type="text" id="inp" placeholder="&nbsp;">
          <span class="label">Username</span>
          <span class="border"></span>
      </label>
      <label for="inp" class="form-container__input">
          <input type="text" id="inp" placeholder="&nbsp;">
          <span class="label">Password</span>
          <span class="border"></span>
      </label>
      <button class="form-container__button">
        Login
      </button>
      <div class="form-container__alt">
          Or Register
      </div>
  </div>
</div>
