<div class="profile">
  <div class="profile__container">
    <div class="profile__user-info">
      <app-profile
        [currentUser]="currentUser"
        (edit)="openEditUserModal($event)"
        (delete)="openDeleteUserModal($event)"
      ></app-profile>
    </div>
    <div class="profile__projects">
      <app-projects
        [projects]="currentUserProjects"
        [currentUser]="currentUser"
        (projectId)="startProject($event)"
        (newProject)="openNewProjectModal()"
        (editProject)="openEditProjectModal($event)"
        (deleteProject)="openDeleteProjectModal($event)"
        (favoriteProject)="addToFavorites($event)"
      ></app-projects>
      <app-favorites
        [projects]="currentUserFavoriteProjects"
        (removeFavoriteProject)="removeFavorite($event)"
      ></app-favorites>
    </div>
  </div>
</div>