<form action="">
  <div class="form__element">
    <input 
      class="element__input"
      type="text"
      placeholder="username"
    >
  </div>
  <div class="form__element">
    <input 
      class="element__input"
      type="password"
      placeholder="password"
    >
  </div>
  <div class="form__element">
    <button
      class="element__button"
    >Login
    </button>
  </div>
  <div class="form__element">
    <div class="element__text">
      or Register
    </div>
  </div>
</form>