<div class="projects">
  <div class="projects__header">
    <div class="header__title">
      Projects
    </div>
    <div class="header__button">
      <button 
        class="button__add-project"
        (click)="onNewProject()"
      >+</button>
    </div>
  </div>
  <div class="projects__cards" >
    <app-profile-card class="cards__project" *ngFor="let project of projects"
      [project]="project"
      (projectId)="startProject($event)"
      (editProject)="onEditProject($event)"
      (deleteProject)="onDeleteProject($event)"
    ></app-profile-card>
  </div>
</div>