.projects {
    margin: 80px;
}

.projects__header {
    font-size: 50px;
    display: flex;
}

.header__title {
    flex: 1;
}

.button__edit-project {
    height: 50px;
    width: 150px;
    color: white;
    background-color: purple;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

