.loading {
    padding: 10px;
}

.loading__container {
    text-align: center;
}

.container__header {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #6F8AB7;
    margin-bottom: 10px;
}

.container__body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
}

.container__spinner {
    text-align: center;
}