<div class="edit-user">
  <div class="edit-user__header">
    Edit User
  </div>
  <form >
    <div class="edit-user__input-row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>
    <div class="edit-user__input-row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Job</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>
    <div class="edit-user__bio-container">
      <mat-form-field class="bio-container__bio"appearance="outline">
        <mat-label>Bio</mat-label>
        <textarea matInput matTextareaAutosize=false placeholder="Placeholder"></textarea>
      </mat-form-field>
    </div>
    <div class="edit-user__button-container">
      <button
        class="button-container__button"
      >Submit
      </button>
    </div>
  </form>
</div>

