<div class="edit-user">
  <div class="edit-user__header">
    Edit User
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" >
      <input 
      formControlName="name"
      class="element__input"
      type="text"
      placeholder="Name"
    >
    <input 
      formControlName="username"
      class="element__input"
      type="text"
      placeholder="Username"
    >
    <input 
      formControlName="email"
      class="element__input"
      type="text"
      placeholder="Email"
    >
    <input 
      formControlName="job"
      class="element__input"
      type="text"
      placeholder="Job"
    >
    <textarea
      formControlName="bio"
      class="element__input"
      type="text"
      placeholder="Bio"
    ></textarea>
    <div class="edit-user__button-container">
      <button
        class="button-container__button"
      >Submit
      </button>
    </div>
  </form>
</div>

