<div class="user-profile">
  <div class="user-profile__header">
    <div class="header__title">
      {{ currentUser?.name | titlecase }}
    </div>
  </div>
  <div class="user-profile__body">
    <div class="body__profile-pic">
      <img class="profile-pic__image" src="{{ gravatarImage(200) }}" alt="">
      <div>Email: {{ currentUser?.email }}</div>
      <div>Username: {{ currentUser?.username }}</div>
      <div>Job: {{ currentUser?.jobType }}</div>
      <div>Bio: {{ currentUser?.bio }}</div>
      <div>
        <button 
          class="edit-profile-button"
          (click)="editUser()"
          >
          Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>
