<div class="user-profile">
  <div class="user-profile__header">
    <div class="header__title">
      {{ currentUser?.name | titlecase }}
    </div>
  </div>
  <div class="user-profile__body">
    <div class="body__user-info">
      <img class="user-info__image" src="{{ gravatarImage(200) }}" alt="">
      <div class="user-info__username">
        {{ currentUser?.username }}
      </div>
      <div class="user-info__alt-info">
        {{ currentUser?.email }}
      </div>
      <div class="user-info__alt-info">
        {{ currentUser?.jobType }}
      </div>
      <div class="user-info__alt-info">
        {{ currentUser?.bio }}
      </div>
      <div *ngIf="auth.user.id === currentUser?.id">
        <button 
          class="edit-profile-button"
          (click)="editUser()"
          >
          Edit Profile
        </button>
      </div>
      <div *ngIf="auth.user.id === currentUser?.id">
        <button 
          class="delete-profile-button"
          (click)="deleteUser()"
          >
          Delete Profile :(
        </button>
      </div>
    </div>
  </div>
</div>
