<div class="profile-card">
  <div 
    *ngIf="auth.user.id.toString() === project.authorId || auth.user.role === 'admin'"
    class="profile-card__edit">
    <button 
      class="edit__button"
      (click)="edit()"
    >Edit</button>
  </div>
  <div 
    *ngIf="auth.user.id.toString() === project.authorId || auth.user.role === 'admin'"
    class="profile-card__delete">
    <button 
      class="delete__button"
      (click)="delete()"
    >Delete</button>
  </div>

  <div class="profile-card__start" (click)="startProject()">
    Start
  </div>
  <div class="profile-card__image">
    <img src="{{ project?.thumbnail }}" alt="">
  </div>
  <div class="profile-card__body">
    <div class="body__title">
      {{ project?.name }}
    </div>
    <div class="body__description">
      {{ project?.description }}
    </div>
  </div>
</div>