.profile-card {
    border-radius: 10px;
    background-color: white;
    position: relative;
    height: 400px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.profile-card__image {
    height: 180px;
}

.profile-card__start {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    height: 40px;
    width: 100px;
    color: #89BBFE;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #6F8AB7;
}

img {
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
}

.profile-card__body {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.body__title {
    font-size: 30px;
}

.body__description {
    margin-top: 10px;
}

